@model IEnumerable<ProjektiWebW23G10.Models.UserIdentityModel>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                Operations
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => user.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => user.PasswordHash)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = user.Id }) |
                    <a asp-controller="User" asp-action="Details" asp-route-id="@user.Id">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new { id = user.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
